.idea/
.vs/
aaSubmergedBuild/
Library/
Logs/
Obj/
Temp/
UserSettings/
*.csproj
*.csproj.meta
*.pidb
*.sln
*.suo
*.svd
*.user
*.userprefs

._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.vsconfig
desktop.ini
ehthumbs.db
Icon?
Thumbs.db
Build

Submerged/AddressablesBuild/StandaloneWindows/submerged_assets_*.bundle
